<h1>Stupid Coaching</h1>

<div class="yourmessage">
  <h2><%= @question%></h2>
  <p>-- You</p>
</div>

<div class="coachmessage">
  <h2><strong><%=  @answer %></strong></h2>
  <p>-- Your coach</p>
</div>

<a href="/ask">Ask a new question</a>
