// Place all the styles related to the Answer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coachmessage {
  background-color: #fbffde;
  border-left: solid 10px;
  border-left-color: lightgray;

  h2 {
    margin-left: 10px;
  }

  p{
    margin-left: 10px;
  }
}

.yourmessage {
  border-left: solid 10px;
  border-left-color: lightgray;

  h2 {
    margin-left: 10px;
  }

  p{
    margin-left: 10px;
  }
}
